<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SignUp form for onekey</title>
     <!--linking css file link-->
    <link rel="stylesheet" href="./sign-up.component.css">
</head>
<body>
    <div class="imgDiv">
        <img src="../../assets/images/home4.png">
    </div>
    <form >
        <div class="form1">
            <img  class="image" src="../../assets/images/onekey.png" ><br>
            <input  class="input" type = "text" placeholder="UserName"><br>
            <input  class="input" type = "text" placeholder="Email"><br>
            <input  class="input" type = "text" placeholder="Password"><br>
            <input  class="input" type = "text" placeholder="ConfirmPassword"><br>
            <a href="../role-selection/role-selection.component.html"><input  class="button" type="button" value="SignUp"></a>
            <p>already have an account <a href="../login/login.component.html">Login</a></p>
        </div>
    </form>
</body>
</html>