<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Selection</title>
    <link rel="stylesheet" href="./role-selection.component.css">
</head>
<body>
    <div class="logo"></div>
    <div class="imgDiv"></div>
    <div class="form">
        <div class="card">
          <img src="../../assets/images/bpo1.svg" style="width:60%">
          <div class="container">
            <h3>Business Process Outsourcing</h3>
          </div>
        </div>
        <div class="card">
            <img src="../../assets/images/agent1.svg" style="width:60%">
            <div class="container">
              <h3>Agent</h3>
            </div>
          </div>
        <div class="card">
            <img src="../../assets/images/seller2.svg" style="width:60% ">
            <div class="container">
              <h3>Seller</h3>
            </div>
          </div>
        <div class="card">
            <img src="../../assets/images/lawyer2.svg" style="width:60%">
            <div class="container">
              <h3>Lawyer</h3>
            </div>
          </div>
          <div>
            <a href="../sign-up/sign-up.component.html"><button class="btn btnOne"><b>&#9664; Previous page</b></button></a>
            <button class="btn btn1 "><b>Next page &#9654;</b></button>
          </div>
        </div>
</body>
</html>