<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login form for onekey</title>
     <!--linking css file link-->
    <link rel="stylesheet" href="../login/login.component.css">
</head>
<body>
    <div class="imgDiv">
        <img src="../../assets/images/home2.png">
        
    </div>
    
        <div class="logoDiv">
            <img  class="image" src="../../assets/images/key.jpg" >
        </div>
        <div class="formDiv">
            <label class="label">UserName</label><br>
            <input  class="fInput" type="text"><br>
            <label class="label">Password</label><br>
            <input class="fInput" type="password"><br>
            <input  class="button" type="button" value="Login">
            <p>Don't have account click to <a href="./signUp.html">SignUp</a></p>
        </div>
 
</body>
</html>